* {
    font-family: 'Open Sans', sans-serif;
    /* border: red solid 1px; */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
  
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2);
}

html, body, svg {
    width: 90%;
    height: 90%;
    margin: 5%;
  }

/* .f1c0:hover, .f1c1:hover, .f1c2:hover {
  cursor: url("../images/cursor-face1.svg"), auto;
}
.f2c0:hover, .f2c1:hover, .f2c2:hover {
  cursor: url("../images/cursor-face2.svg"), auto;
}
.f3c0:hover, .f3c1:hover, .f3c2:hover {
  cursor: url("../images/cursor-face3.svg"), auto;
} */


.selected {
    stroke-width: 0.2em;
    stroke: black;
    fill:rgba(0,0,0,0);
    animation: flash 2s linear infinite;

}

.nav-option {
    stroke: none !important;
    transition: fill 1.5s;
    fill:unset; 
}

.nav-option:hover {
    stroke: none !important;
    transition: fill 1s;
    fill: #000; 
}

@keyframes flash {
    50% {
      fill: rgba(0,0,0,1);
    }
  }

#fadeIn {
    overflow: hidden;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 1;
}

#fadeIn.ready {
    transition: opacity 1s;
     opacity: 0;
}

.factory {
    z-index: 0;
}