.f1c2 {
    fill: #dac39b;
    stroke: #dac39b;
    stroke-width: 0.1%;
}

.f2c2 {
    fill: #ae9573;
    stroke: #ae9573;
    stroke-width: 0.1%;
}

.f3c2 {
    fill: #7c6a56;
    stroke: #7c6a56;
    stroke-width: 0.1%;
}