.f1c2 {
    fill: #4bebfc;
    stroke: #4bebfc;
    stroke-width: 0.1%;
}

.f2c2 {
    fill: #1fc3e8;
    stroke: #1fc3e8;
    stroke-width: 0.1%;
}

.f3c2 {
    fill: #087aaa;
    stroke: #087aaa;
    stroke-width: 0.1%;
}