.f1c2 {
    fill: #1cde79;
    stroke: #1cde79;
    stroke-width: 0.1%;
}

.f2c2 {
    fill: #099849;
    stroke: #099849;
    stroke-width: 0.1%;
}

.f3c2 {
    fill: #005b29;
    stroke: #005b29;
    stroke-width: 0.1%;
}