.f1c2 {
    fill: #6bff02;
    stroke: #6bff02;
    stroke-width: 0.1%;
}

.f2c2 {
    fill: #2fd000;
    stroke: #2fd000;
    stroke-width: 0.1%;
}

.f3c2 {
    fill: #006000;
    stroke: #006000;
    stroke-width: 0.1%;
}