.f1c2 {
    fill: #eb5e12;
    stroke: #eb5e12;
    stroke-width: 0.1%;
}

.f2c2 {
    fill: #a13401;
    stroke: #a13401;
    stroke-width: 0.1%;
}

.f3c2 {
    fill: #5b1c00;
    stroke: #5b1c00;
    stroke-width: 0.1%;
}