.f1c2 {
    /* this color is bae */
    fill: #27bae1;
    stroke: #27bae1;
    stroke-width: 0.1%;
}

.f2c2 {
    fill: #108199;
    stroke: #108199;
    stroke-width: 0.1%;
}

.f3c2 {
    fill: #044d5b;
    stroke: #044d5b;
    stroke-width: 0.1%;
}