.f1c1 {
    fill: #4ab73d;
    stroke: #4ab73d;
    stroke-width: 0.1%;
}

.f2c1 {
    fill: #357b24;
    stroke: #357b24;
    stroke-width: 0.1%;
}

.f3c1 {
    fill: #193f10;
    stroke: #193f10;
    stroke-width: 0.1%;
}