.f1c1 {
    fill: #e1a627;
    stroke: #e1a627;
    stroke-width: 0.1%;
}

.f2c1 {
    fill: #996910;
    stroke: #996910;
    stroke-width: 0.1%;
}

.f3c1 {
    fill: #5b3c04;
    stroke: #5b3c04;
    stroke-width: 0.1%;
}