.f1c1 {
    fill: #eb29ab;
    stroke: #eb29ab;
    stroke-width: 0.1%;
}

.f2c1 {
    fill: #a51175;
    stroke: #a51175;
    stroke-width: 0.1%;
}

.f3c1 {
    fill: #610444;
    stroke: #610444;
    stroke-width: 0.1%;
}